@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFFF;
    font-family: "Google Sans", sans-serif;
}

img {
    max-width: 100%;
}

.flex-parent {
    border: 2px solid #f00;
    display: flex;
    margin: 97px 312.5px;
}

.flex-child {
    /* border: 2px solid #00f; */
}

.flex-child:nth-child(1) {
    border: 2px solid saddlebrown;
    width: 50%;
}

.flex-child:nth-child(2) {
    border: 2px solid green;
    width: 50%;
}

.flex-parent2 {
    /* border: 2px solid rebeccapurple; */
    margin: 0 312.5px;
    display: flex;
    justify-content: space-between;
    gap: 22px;
}

.flex-child2 {
    background-color: #F5F6F7;
    border-radius: 20px;
    padding: 30px 30px;
    /* border: 2px solid red; */
}

.flex-child2:nth-child(1) {
    /* border: 2px solid saddlebrown; */
    width: 33.33%;
}

.flex-child2:nth-child(2) {
    /* border: 2px solid palevioletred; */
    width: 33.33%;

}

.flex-child2:nth-child(3) {
    /* border: 2px solid purple; */
    width: 33.33%;

}

.flex-child2 a:nth-child(1) {
    /* border: 2px solid brown; */
    display: inline-block;
}

.flex-child2 a:nth-child(2) {
    /* border: 2px solid palevioletred; */
    font-size: 2rem;
    color: #202124;
    font-weight: 500;
    text-decoration: none;
    display: inline-block;
    margin: 40px 0;
}

.flex-child2 a:nth-child(2):hover {
    text-decoration: underline;
}

.flex-child2 p {
    color: #202124;
    font-weight: 400;
}

.flex-child2 a:last-child {
    /* border: 2px solid red; */
    display: block;
    text-align: center;
    margin: 40px 78px;
    padding: 15px 15px;
    background-color: #fff;
    border-radius: 30px;
    border: 2px solid #2E6AC2;
    text-decoration: none;
    color: #1A73E8;
}

.flex-child2 a:last-child:hover {
    border: none;
    background-color: #F5F6F7;
}


/* .box1 {
    border: 1px solid #f0e;
    width: 400px;
    height: 400px;
    padding: 50px;
}

.box2 {
    border: 1px solid #f04;
    width: 400px;
    height: 400px;
} */